body {
    overflow: hidden;
}

.wrapper {
    position: relative;
}

div {
	position: absolute;
}

.startForm {
    position: relative;
}

div.active {
	cursor: pointer;
}

.target {
	background: black;
}

.player.active {
    outline: dashed 4px orange;
}

button {
	position: absolute;
	z-index: 1000;
}

.controls {
 right: 50px;
    color: white;
}

.controls div {
 padding: 10px;
 position: relative;
    background: green;
}
