/* line 1, ../scss/_reset.scss */
body {
  overflow: hidden;
}

/* line 5, ../scss/_reset.scss */
.wrapper {
  position: relative;
}

/* line 1, ../scss/_reset.scss */
body {
  overflow: hidden;
}

/* line 5, ../scss/_reset.scss */
.wrapper {
  position: relative;
}

/* line 1, ../scss/_skins.scss */
.poo1 {
  content: url("../images/poo1.png");
  width: 5%;
}

/* line 6, ../scss/_skins.scss */
.player {
  content: url("../images/toilet.png");
  width: 5%;
}

/* line 5, ../scss/styles.scss */
div.selected {
  cursor: pointer;
}

/* line 9, ../scss/styles.scss */
.target, .player {
  position: absolute;
}

/* line 13, ../scss/styles.scss */
.player.selected {
  outline: dashed 4px orange;
}

/* line 17, ../scss/styles.scss */
.player {
  bottom: 0px;
}

/* line 21, ../scss/styles.scss */
.controls {
  position: absolute;
  right: 50px;
  color: white;
  border-radius: 10px;
  background: grey;
  border: solid 1px #333;
  padding: 10px;
  box-shadow: 0px 0px 5px #333333;
}

/* line 1, ../scss/modules/_controls.scss */
.controls {
  display: none;
}
@media (min-width: 600px) {
  /* line 1, ../scss/modules/_controls.scss */
  .controls {
    display: block;
  }
}

/* line 8, ../scss/modules/_controls.scss */
.icon {
  background: black;
  color: white;
  padding: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  float: right;
}
@media (min-width: 600px) {
  /* line 8, ../scss/modules/_controls.scss */
  .icon {
    display: none;
  }
}

/* line 22, ../scss/modules/_controls.scss */
.active {
  display: block;
}

/* line 26, ../scss/modules/_controls.scss */
.startForm {
  position: relative;
}

/* line 30, ../scss/modules/_controls.scss */
.controls {
  position: absolute;
  right: 50px;
  color: white;
  border-radius: 10px;
  background: grey;
  border: solid 1px #333;
  padding: 10px;
  box-shadow: 0px 0px 5px #333333;
}

/* line 41, ../scss/modules/_controls.scss */
.controls-block {
  position: relative;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
}
