div {
	position: absolute;
}

div.active {
	cursor: pointer;
}

.target {
	background: black;
}

.target {
	background: black;
	width: 100px;
	height: 100px;
}

button {
	position: absolute;
	z-index: 1000;
}
