.target {
	content: '';
	background: url('../images/poo1.png') no-repeat;
	background-size: 100%;
	width: 0;
  	height: 0;
  	padding: 2.5%;
}

.player {
    content: '';
	background: url('../images/toilet1.png') no-repeat;
	background-size: 100%;
	width: 0;
  	height: 0;
  	padding: 2.5%;
}

.toilet1 {}

