@import "base";
@import "reset";

div.selected {
	cursor: pointer;
}

.target, .player {
	position: absolute;
}

.player.selected {
    outline: dashed 4px orange;
}

.player {
	bottom: 0px;
}

.controls {
	position: absolute;
	right: 50px;
  	color: white;
	border-radius: 10px;	
	background: grey;
	border:solid 1px #333;
	padding: 10px;
	box-shadow: 0px 0px 5px #333333;
}

@import "modules/controls";
