@import "base";
@import "reset";

div.selected {
	cursor: pointer;
}

.target, .player {
	position: absolute;
}

.player.selected {
    outline: dashed 4px orange;
}

.icon {
}

@import "modules/controls";